
.card {
    max-width: 100%;
    height: auto;
}

p {
    color: aliceblue;
    font-weight: 900;
}

.card {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 540px;
}

.card img{
    max-width: 100%;
    transition: all 0.4s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.card:hover img {
    transform: scale(1.3);
}