<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="~/Images/digital-art-398342_640.png" alt="Card image cap" style=" max-width: 100%; height: auto; font-family: 'Aclonica';">
                <div class="card-body text-center">
                    <h5 class="card-title text-center" style="font-family: 'Aclonica';">Royal Rewards Members Save</h5>
                    <p class="card-text text-center">Enjoy savings on our Best Available Rate at thousands of Royal Rewards Hotels worldwide with The Royall Rewards Rate. You can save up to 10% with one click.</p>
                    <a class="btn btn-primary text-center" asp-area="Identity" asp-page="/Account/Register">Enroll for Free</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-fluid" src="~/Images/tropical-1651426_640.jpg" alt="Card image cap" style=" max-width: 100%; height: auto;">
                <div class="card-body text-center">
                    <h5 class="card-title text-center" style="font-family: 'Aclonica';">Discover Royal Travel</h5>
                    <p class="card-text text-center">
                        Designed for business and leisure travelers alike, Royal Travel locations offer a comfortable and convenient stay. No matter where your travels take you,
                        our hotels welcome you with thoughtfully appointed guest rooms, versatile meeting spaces, and extras like pools and fitness centers.
                    </p>
                    <a class="btn btn-primary text-center" asp-controller="Booking" asp-action="Index">Explore & Book</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Images//woman-591576_640.jpg" alt="Card image cap" >
                <div class="card-body" >
                    <h5 class="card-title" style="font-family: 'Aclonica';">
                        Stay More Nights. Unlock New Member Levels &amp; Perks.
                    </h5>
                    <p class="card-text">
                        The more qualifying nights you stay, the closer you’ll be to reaching new member levels—and enjoying
                        all of the exciting benefits that come with being <span style="color:#A9A9A9;" class="font-weight-bolder">SILVER</span>, <span style="color:#FFD700;" class="font-weight-bolder">GOLD</span>
                        and <span style="color:#6351ce;" class="font-weight-bolder">PLATINUM</span>.
                    </p>
                    <a href="#" class="btn btn-primary">About Royal Rewards</a>
                </div>
            </div>
        </div>
    </div>
</div>