@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p>Welcome to RoyalTravel</p>
        

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/resources/beach-1854076_640.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/resources/hotel-1749602_640.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/resources/hotel-398845_640.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
